---
import { Image } from 'astro:assets';

import headshot from '../../assets/abdelmageed-hs.jpg';
import emailLogo from '../../assets/email.svg'
import githubLogo from '../../assets/github.svg'
import linkedinLogo from '../../assets/linkedin.svg'

interface Props {
  email: string;
  linkedin: string;
  github: string;
}

const { email, linkedin, github } = Astro.props;
---

<div id="about">
  <Image src={headshot} alt="Headshot" id="headshot" />
  <div id="about-content">
    <h1 id="greeting">Hi! I'm Ahmed.</h1>
    <div id="desc">
      <p>
        I'm a fourth year student at the Ohio State University pursing a Computer
        Science and Engineering degree with a specialization in <span
          class="highlight"
        >
          Database Systems and Data Analytics
        </span>. I've taken an interest in <span class="highlight">web development</span> and I'm constantly
        working to expand my skillset.
      </p>
      <p>
        See some of my work below and don't hesitate to get in touch with me. I look
        forward to working with you!
      </p>
    </div>
    <div id="socials">
      <a href={linkedin}>
        <Image src={linkedinLogo} alt="LinkedIn" class="social" />
      </a>
      <a href={github}>
        <Image src={githubLogo} alt="GitHub" class="social"/>
      </a>
      <a href={"mailto: " + email}>
        <Image src={emailLogo} alt="Email" class="social"/>
      </a>
    </div>
  </div>
</div>

<style>
  #about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 10rem 10%;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      180deg,
      rgba(2, 0, 36, 1) 6%,
      rgba(23, 23, 152, 1) 78%,
      rgba(22, 104, 172, 1) 100%
    );
    color: white;
  }

  #about p {
    padding: 0.6rem;
    font-size: 1.15rem;
  }

  #about-content {
    width: 80%;
  }

  #headshot {
    width: 20rem;
    height: auto;
    border: medium solid black;
    border-radius: 50%;
  }

  #desc {
    padding: 0.8rem 0;
  }

  #socials {
    display: flex;
    gap: 0.6rem;
    padding: 0 0.5rem;
  }

  .social {
    width: var(--social-width);
    height: auto;
    transition: transform 0.2s ease;
  }

  .social:hover {
    transform: translateY(-5px);
  }

  .highlight {
    color: rgb(253, 190, 0);
  }

  @media (max-width: 768px) {
    #about {
      flex-direction: column;
      padding: 5rem 5%;
    }

    #headshot {
      width: 50%;
    }

    #about-content {
      width: 100%;
      text-align: center;
    }

    #socials {
      justify-content: center;
    }
  }
</style>
